:root{
  --white: hsl(0, 0%, 100%);
  --lightgray: hsl(212, 45%, 89%);
  --grayishblue: hsl(220, 15%, 55%);
  --darkblue: hsl(218, 44%, 22%);
}

body{
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  background: var(--lightgray);
}

section{
  display: grid;
  place-items: center;
  height: 95vh;
}

.container{

  background-color: var(--white);
  padding: 18px 18px 14px 18px;
  border-radius: 24px;
  text-align: center;

}

.container img {
  width: 280px;
  border-radius: 8px;
}

.container p{
  	color: var(--grayishblue);
}
